#preset .card-category {
width: 170px;
height: 130px;
background-color: #DBEDDD;
border-radius: 5%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
border: solid #DBEDDD 3px;
}


#preset .card-category p {
    font-family: 'General Sans', sans-serif;
                  font-weight:400;   
                  font-size:15px;
                                                                                     
}

#preset .category-icon {

    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;

}


#preset.category-icon img {
   width: 100%;
   height:100%;

}

#preset.category-title {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}


#add {
   display: flex;
   justify-content: center;
   align-items: center;
width: 170px;
height: 130px;
border: solid #DBEDDD 3px;
border-radius: 5%;
}

#add .category-icon {
  height: auto;
  width: auto;
  align-self: center;
}

#add .category-title {
    display: none;
}
