.grid-container {
    display: grid;
    width: 40%;
    grid-template-columns: 1fr 1fr 1fr;
row-gap: 15px;
column-gap: 15px;
}

.left-side {
    width: 50vw;
height: 100vh;
    float: left;
margin-left: 5%;
    display: flex;
    flex-direction: column;

}

.headline p{
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
    font-size:  60px;
                                               
}

.add "icon" {
width: 100%;
height: 100%;
}
